* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.color_btn {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #1a1919;
  color: #c3bcbc;
  padding: 10px 20px;
  font-size: 22px;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms;
}
.color_btn:hover {
  color: #e7e7e7;
  background-color: #000000;
}
.color_btn:disabled,
.data_start:disabled {
  background-color: #7a7373;
  pointer-events: none;
}

.data_input,
.data_start {
  background-color: #3d8f7a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 26px;
  padding: 20px 30px;
  color: #ffffff;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  margin-bottom: 160px;
}
.data_start:hover {
  background-color: #125f4b;
  cursor: pointer;
  box-shadow: 0 0 5px #125f4b;
}
.timer {
  display: flex;
  justify-content: center;
}
.timer_label {
  display: block;
  color: #125f4b;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.value {
  color: #000000;
  font-size: 120px;
  border-bottom: 1px dashed #000000;
}
.label {
  color: #6b4007;
  font-size: 22px;
  text-transform: uppercase;
}